@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

    button {
        @apply text-white
        hover:bg-transparent hover:text-indigo-600 rounded-md
    }
}
.animNav {
    animation: animNav 0.5s ease;
}

.slide-home-content {
    animation: slide-home 1s ease;
}
.forms {
    animation: slide-create-account 0.7s ease;
}

@keyframes animNav {
    from {
        transform: translateY(-50px);
        opacity: 0.1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-home {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animBodyGradient {
    0% {
       background-position: 0% 50%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 50%;
     }
}
@keyframes slide-create-account {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        overflow: hidden;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        overflow: hidden;
    }
}