@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.my__letter {
    transition: 0.4s;
}
.my__letter:hover {
    letter-spacing: 1px;
}
.slide-top {
    animation: slide-top 0.4s ease;
    -webkit-animation: slide-top 0.4s ease;
}
.slide-toggle-menu {
    animation: 0.5s ease animToggle;
    -webkit-animation: 0.5s ease animToggle;
}
li {
    list-style: none;
}
.whatsapp {
    background-image: linear-gradient(to right, green, rgb(30, 255, 0));
    background-size: 200% 100%;
    color: white;
}
.telegram {
    background-image: linear-gradient(to right, blue, aqua);
    background-size: 200% 100%;
}

.slide-1 {
    animation: slide-1 0.2s ease;
    -webkit-animation: slide-1 0.2s ease;
}
.slide-2 {
    animation: slide-2 0.5s ease;
    -webkit-animation: slide-2 0.5s ease;
}
.slide-3 {
    animation: slide-3 1s ease;
    -webkit-animation: slide-3 1s ease;
}
.slide-4 {
    animation: slide-4 1.4s ease;
    -webkit-animation: slide-4 1.4s ease;
}



@keyframes slide-top {
    from {
        transform: translateY(-60px);
        opacity: 0.1;
}
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animToggle {
    from {
        transform: translateY(-60px);
        opacity: 0;
}
    to {
        transform: translateX(0);
        opacity: 1;      
    }
}
/* Slide-1 */
@keyframes slide-1 {
    from {
        transform: translateX(-60px);
        opacity: 0.1;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide-2 */
@keyframes slide-2 {
    from {
        transform: translateX(-60px);
        opacity: 0.1;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide-3 */
@keyframes slide-3 {
    from {
        transform: translateX(-60px);
        opacity: 0.1;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide-4 */
@keyframes slide-4 {
    from {
        transform: translateX(-60px);
        opacity: 0.1;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}