@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
    button {
        @apply 
    }
} */
header  #btn-color:hover {
    color: white;
}
.animNav {
    animation: animNav 0.5s ease;
}

.slide-home-content {
    animation: slide-home 0.4s ease;
}
.slide-home-content-2 {
    animation: slide-home 0.8s ease;
}
.slide-home-title {
    animation: slide-home 1.5s ease;
}
.slide-home-desc {
    animation: slide-home 1.8s ease;
}
.forms {
    animation: slide-create-account 0.7s ease;
}

.loading-page {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none 2s ease;
}

.loader-page{
    font-size: 48px;
    color: #FFF;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
  }
  .loader-page:before{
    content: '';
    animation: 1s print linear alternate infinite;
  }
  .loader-page:after{
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translatey(-45%);
    width: 2px;
    height: 1.3em;
    background: currentColor;
    opacity: 0.8;
    animation: 1s blink steps(2) infinite;
  }
  
.my_name::selection {
    background-color: orange;
    color: white;
}
.my-description::selection {
    background-color: gray;
    color: white;
}


  @keyframes none {
    100% {
        display: none;
    }
  }

  @keyframes blink {
    0%  { visibility: hidden;}
    100%  { visibility: visible;}
  }
  @keyframes print {
    0% { content: 'L'}
    10% { content: 'Lo'}
    20% { content: 'Loa'}
    30% { content: 'Load'}
    40% { content: 'Loadi'}
    50% { content: 'Loadin'}
    60% { content: 'Loading'}
    70% { content: 'Loading.'}
    80% { content: 'Loading..'}
    90% , 100% { content: 'Loading...'}
  }

.for-anim {
    animation: animNavs 1s ease;
}

  
@keyframes animNavs {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animNav {
    from {
        transform: translateY(50px);
        opacity: .1;
        z-index: 1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        z-index: 1;
    }
}
@keyframes slide-home {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-one {
    animation: slide-one 0.3s ease;
}
@keyframes slide-one {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-two {
    animation: slide-two 0.7s ease;
}
@keyframes slide-two {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-three {
    animation: slide-three 1.3s ease;
}
@keyframes slide-three {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-for {
    animation: slide-for 1.7s ease;
}
@keyframes slide-for {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes animBodyGradient {
    0% {
       background-position: 0% 50%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 50%;
     }
}
@keyframes slide-create-account {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        overflow: hidden;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        overflow: hidden;
    }
}
/* @media only screen and (min-width: 768px) {
    .btns > #aioutlineClose {
        display: block;
    }
} */